<style>

/* Page Style */

body {
    font-family:Arial, Helvetica, sans-serif, sans-serif,'Times New Roman', Times, serif;
    background-color: y#15243e;
    padding: 20px;
}

/* Heading Style */

h1, h2, h3 {
    text-align: center;
    color: #03092d;
}

/* Form Style */

form {
    background: rgba(209, 198, 193, 0.888);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #1e1212;
    width: 70%;
    margin:auto;
}

/* Input Box Style */
input[type="texT"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="home"],
select,
textarea {
    width: 50%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #2d0d0d;
    border-radius: 5px;
}

/* Radio & Checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin: 5px;
}

/* File Upload */
input[type="file"] {
    margin-top: 10px;
}

/* Submit & Reset Button */
input[type="submit"],
input[type="reset"]{
    background-color: #108312;
    color: rgb(235, 233, 233);
    border: none;
    padding: 10px 100px;
    margin: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #679f68;
}

input[type="reset"]:hover {
    background-color: #a87977;
}

/* TEXTAREA Style */
textarea {
    resize:none;
}

/* Tables */
table {
    width: 95%;
    margin: 20px auto;
    border-collapse:collapse;
    background-color: rgb(210, 196, 196);
}

th, td {
    border: 1px solid #2c0606;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ab3838;
    color: rgb(249, 247, 247);
}

caption {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Experience Table Footer */
tfoot td {
    background-color: #c17979;
    font-weight: bold;
}

</style>
